@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: black) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
  
}

.SearchBar {
  width: 200px;
  max-width: 100%;
  position: relative;
}

.SearchBar input {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  width: 100%;
}

.SearchBar button {
  background-color: white;
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
}