.container {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 15px;
}
